<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Project 2</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<header>
    <h1>CS312 Mini Project 2</h1>
</header>

<body>
<form action="/crypto" method="POST">
    <input type="text" name="crypto" placeholder="Enter cryptocurrency ticker" required>
    <button type="submit">Get Crypto Price</button>
</form>
</body>
</html>